
body {
	font-family: 'sofia-pro', arial;
	color: #fff;
	background-color: #1a1a27;
}

/*split the sections up so each of them could be their own entity*/
section#main {
	background-color:#e83054;
	color:black;
	background-size: 100%;
	margin-bottom:0;
	text-align: center;
}
section#head{
	background-color: #1a1a27;
	background-size: 100%;
}
section#organisers{
	width:100%;
	background: #55555a;
	display: none;
}

/*This is the design and placement of the call to action button to eventbrite*/
#eventbrite{
	display:flex;
	margin:auto;
	background-color: #ff4d6a;
	justify-content:center;
	width:300px;
	font-size:40px;
	padding:20px;
	border:3px solid $primary;
  border-radius:2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
	margin-bottom:20px;
	-webkit-transition:0.3s all ease;
  transition:0.3s ease all;
	text-decoration:none;
	font-weight: bold;
	font-size:36px;
  letter-spacing:2px;
  text-transform:uppercase;
	color:#FFC0CB;
}

/*this is used to the let user to know the button can be clicked*/
#eventbrite:hover{
	background-color: #FFC0CB;
	color:#ff6680;
}

/*this the same button but hidden as its used for mobile*/
#eventbriteMobile{
	display:none;
}

/*Setting up the grid for the first section, 5 colums and the sperate class change colour depending on the event*/
#events{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	padding:5px;
}

.keyevents {
	background-color: #cf173c;
}

.pastevents{
	background-color: gray;
}

.comingevents{
	background-color: #d9d9d9;
}

/*This is the placement and design of the event displayed*/
#events div{
	box-shadow: 5px 10px;
	border-radius: 25px;
	border: 2px solid black;
	margin: auto;
	width:200px;
	height:300px;
}

/*This is the icon button that displays the organisers*/
#dropdownbutton{
	display: block;
	margin:auto;
  border-radius: 4px;
  background-color: #e83054;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

/*This was for getting the button to move in order to let user know that its clickable*/
#dropdownbutton img{
	width:20px;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

/*arranging the shakes of the button*/
@keyframes shake {
  100% { transform: translate(1px, 1px) rotate(0deg); }
}

/*grid layout for the organisers*/
.container-organiser{
	display: grid;
  grid-template-columns: auto auto auto;
	padding:10px;
}

/*design for each of the organisers*/
.creators{
	display:block;
	margin:auto;
	text-align: center;
	padding:20px;
	width:300px;
	margin-top:50px;

}

/*img for the organisers*/
 .icons{
	width:200px;
}

.cleversteamLogo{
	width:200px;
}

/*this is the logo, pretty much the same as you guys left it */
#logo {
	background: url('images/logo.png') no-repeat;
	max-width: 360px;
	height: 146px;
	margin: 0 auto;
	background-size: 100%;
	margin: 50px auto 35px auto;
}

/*headers for each section, same as you left it*/
#nav h2, #organisers h2, #cleversteam h2 {
	font-size: 20px;
	font-weight: 700;
	margin: 40px 0;
	text-align: center;
}

/*bottom half of website was left as it was a solid design*/
section#cleversteam {
	background: #1a1a27;
	text-align: center;
	padding-bottom: 30px;
}

section#cleversteam h3 {
	width: 195px;
	height: 80px;
	background: url('../img/cleversteam.png') top center no-repeat;
	margin: 0 auto 40px auto;
}

section#rubyside {
	background: #e83054;
	text-align: center;
	padding: 30px 0;
}

section#rubyside a:link, section#rubyside a:visited {
	color: #fff;
	font-size: 20px;
}

section#rubyside img {
	display: block;
	margin: 0 auto 30px auto;
}


/*this media was created for the transition from large screen to mobile, it will also be the version displayed on tablet*/
@media all and (max-width: 1050px) {

/*hiding the end two event so the grid only has 3 entities*/
.tablet{
		display:none;
}

/*changing the event listing to 3 grid to save on space*/
#events{
	display: grid;
	grid-template-columns: auto auto auto;
	padding:5px;
}

/*making the organisers icons smalls to fit on screen*/
.creators{
	display:block;
	margin:auto;
	text-align: center;
	padding:20px;
	width:200px;
	margin-top:50px;
}
.icons{
	width:100px;
}

	}/*end of tablet view*/

/*mobile device*/
@media all and (max-width: 620px) {

/*changed background colour as it worked better on mobile*/
body{
	background-color: #1a1a27;
}

/*change organisers grid to 1 so it displays them in a colum rather than row*/
.container-organiser{
	display: grid;
  grid-template-columns: auto;
	padding:10px;
}

/*changing the size of the icons to fit better on mobile*/
.creators{
	display:block;
	margin:auto;
	text-align: center;
	padding:20px;
	width:200px;
	margin-top:50px;
}

.icons{
	width:100px;
}

/*hiding all events bar the key event to save on space and text*/
.pastevents{
	display:none;
}
.comingevents{
	display:none;
}

/*readjusting the size of the keyevent*/
#events div{
	height:400px;
	width:95%;
}

/*changing the events grid into one colum*/
#events{
	display: grid;
	grid-template-columns: auto;

}

/*hiding the large call to action as ive changed its location on mobile*/
#eventbrite{
	display:none;
}

/*editing the shape and margins of the button*/
#eventbriteMobile{
	display:inherit;
	margin:auto;
	width:80%;
	background-color: #ff4d6a;
	font-size:40px;
	padding:20px;
	border:3px solid $primary;
  border-radius:2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
	margin-bottom:20px;
	-webkit-transition:0.3s all ease;
  transition:0.3s ease all;
	text-decoration:none;
	font-weight: bold;
	font-size:36px;
  letter-spacing:2px;
  text-transform:uppercase;
	color:#FFC0CB;
}

#eventbriteMobile:hover{
	background-color: #FFC0CB;
	color:#ff6680;
}

	}/*end of mobile*/
